img{width:100%;display: block;}
body{width:100%;background: url(../images/bg.jpg) no-repeat;background-size:100% 100%;height:74.125rem; position: relative;}
.container{padding-top:25.3rem;}
.login ul{float:left;}
.login li{width:100%;float:left;height:1.2rem;margin-bottom:0.375rem}
.login li input{width:12.5rem;background:none;float:right;margin-right:0.25rem;height:1.2rem; font-size:12px;color:#515252;}
.login li select{width:12.5rem;float:right;margin-right:0.25rem;font-size:12px;color:#515252;height:1.2rem;}
.tjBtn{margin-top:0.05rem;width:15.5rem;margin-left:0.25rem;float: left;height:1.5rem;}

.carType{height:9.6rem;margin-top:3.5rem;float:left;width:100%;}

.video{margin-top:3.3rem;float:left;width:15.5rem;margin-left:0.25rem;height:8.6rem;}
.video video{width:100%;}

.carColor{height:5.275rem;margin-top:4.05rem;float:left;width:100%;}

.swiper-containers{position:relative;margin-left:0;margin-right:0;z-index:1;overflow:hidden}
.swiper-containers .swiper-button-next,.swiper-containers .swiper-button-prev{position:absolute;top:50%;width:0.75rem;height:1.3rem;margin-top:-0.55rem;z-index:10;background-size: 0.75rem 1.3rem;background-position:center;background-repeat: no-repeat}
.swiper-containers .swiper-button-next{background: url(../images/right.png) no-repeat;background-size: 0.75rem 1.3rem}
.swiper-containers .swiper-button-prev{background: url(../images/left.png) no-repeat;background-size: 0.75rem 1.3rem}

.swiper-pagination{width:100%;margin-top:26px;}
.swiper-pagination span.swiper-pagination-bullet{margin:0 8px;width:0.6rem;height:0.6rem; opacity: 1}
.swiper-pagination span.swiper-pagination-bullet:nth-child(1){background: -webkit-linear-gradient(top, #da0323, #85030c);}
.swiper-pagination span.swiper-pagination-bullet:nth-child(2){background: -webkit-linear-gradient(top, #bbbfc1, #9fa5a5);}
.swiper-pagination span.swiper-pagination-bullet:nth-child(3){background: -webkit-linear-gradient(top, #98a5aa, #566369);}
.swiper-pagination span.swiper-pagination-bullet:nth-child(4){background: -webkit-linear-gradient(top, #0061a9, #00306e);}
.swiper-pagination span.swiper-pagination-bullet:nth-child(5){background: -webkit-linear-gradient(top, #55575b, #141517);}
.swiper-pagination span.swiper-pagination-bullet:nth-child(6){background: -webkit-linear-gradient(top, #f5f5f6, #b5bbbc);}
.swiper-pagination-bullet-active{box-shadow:0 0 5px rgb(255,255,255)}

.an{width:5.525rem;height:0.55rem;margin-left:5.2375rem;margin-top:5.15rem;float: left;}