/*
.texts,.textss{color:green;font-size:0.7rem; position:absolute; left:50%; transform: translate(-50%);text-align: center}
.texts{top:2rem;animation: wz .5s .8s linear forwards;-webkit-animation: wz .5s .8s linear forwards;opacity: 0}
@keyframes wz{
	0%{
		opacity: 0;
		top:0;
	}
	100%{
		opacity: 1;
		top:2rem;
	}
}
.textss{top:2.8rem;animation: wzs 1s 2.2s linear forwards;-webkit-animation: wzs 1s 2.2s linear forwards;opacity: 0}
@keyframes wzs{
	0%{
		opacity: 0;
		top:0;
	}
	100%{
		opacity: 1;
		top:2.8rem;
	}
}
.img{width:100%;margin:0 auto; padding-top:5rem;}
.img img{width:10.0rem; text-align: center;margin-left:3.0rem;}

.img:before{
content:"";
position: absolute;
left: -25.0rem;
top: 15.0rem;
width: 1.25rem;
height: 7.5rem;
background-color: rgba(255,255,255,.5);
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transform:skewX(-25deg);-moz-transform:skewX(-25deg);z-index:10;
-webkit-animation: searchLights .4s ease-in 2.5s forwards;
-o-animation: searchLights .4s ease-in 2.5s forwards;
animation: searchLights .4s ease-in 2.5s forwards;
}
@-webkit-keyframes searchLights {
0% { left: -2rem; top: 1rem; }
to { left:10.0rem; top: 5.5rem; opacity: 0}
}
@-o-keyframes searchLights {
0% { left: -2rem; top: 1rem; }
to { left:10.0rem; top: 5.5rem; opacity: 0}
}
@-moz-keyframes searchLights {
0% { left: -2rem; top: 1rem; }
to { left:10.0rem; top: 5.5rem; opacity: 0}
}
@keyframes searchLights {
0% { left: -2rem; top: 1rem; }
to { left:10.0rem; top: 5.5rem; opacity: 0}
}*/


body{ background:#142550; }
img{width:100%;}
.container{width:100%;background: url(../images/bigBg.jpg) no-repeat;background-size:100% 100%;height:155.225rem;position:relative;overflow: hidden}
.scBtn,.hdBtn{width:7.2rem;height:1.25rem;position: absolute;left:4.05rem;}
.scBtn{top:16.55rem;}
.hdBtn{top:30.375rem}
.login{position:absolute;top:50.775rem;width:14.1rem;left:0.95rem;}
.login li{float:left;width:100%;height:2.05rem;background: #fff;margin-bottom:0.5rem;}
.login li input{height:2.05rem;color:#333;width:100%;padding-left:0.675rem;font-size:0.7rem;}
.login li select{background: url("../images/arrow.png") no-repeat 13.2rem center;background-size:0.425rem 0.4rem;height:2.05rem;color:#999999;width:100%;padding-left:0.675rem;font-size:0.7rem;}
.login li.xz{background: none}
.login li.xz p{width:6.95rem;float:left; background: #fff}
.login li.xz p:last-child{margin-left:0.20rem;}
.login li.xz p select{background: url("../images/arrow.png") no-repeat 6rem center;background-size:0.425rem 0.4rem;}
.login h4{color:#8d8e90;font-size:12px;}
.btn{margin-top:0.375rem}

.main{position:absolute;top:71.175rem ;width:14.1rem;left:0.95rem;}
.editPost,.video{margin-top:1.9rem;}
.editPost h2,.video h2{width:8.3rem;margin:0 auto;}
.editPost p,.video p{margin-top:0.75rem;margin-bottom:0.25rem;}
.editPost h3,.video h3{margin-top:0.25rem;margin-bottom:0.25rem;float:left;}
.editPost h3 a{float:left;line-height:1.05rem;margin-left:0.1rem;text-align:center;width:4.5rem;height:1.05rem;border:1px solid #0062c5; color:#fff;font-weight: bold;font-size:12px;}
.editPost h3 a.on{background: #ff8a00;border:1px solid #ff8a00;}
.editPost h3 a img,.video h3 a img{width:2.65rem; /*vertical-align:sub;*/margin-top:0.2rem;}
.imgs{float:left;width:100%;height:7.4rem; overflow: hidden}
.img01{height:8rem; overflow: hidden}
.imgss{height:8.05rem;}
.video{float:left;width:100%; overflow: hidden}
.video h3 a{float:left;line-height:1.05rem;text-align:center;width:6.8rem;height:1.05rem;border:1px solid #0062c5; color:#fff;font-weight: bold;font-size:12px;}
.video h3 a.cur{background: #ff8a00;border:1px solid #ff8a00;}
.video h3 a:last-child{margin-left:0.24rem;}
.v_box{width:14.1rem;height:8.05rem;}
.v_box video{width:14.1rem;height:8.05rem;}

.swiper-container{width:100%;height:100%;}
.swiper-pagination{position:fixed; bottom:-0.25rem;}
.swiper-pagination .swiper-pagination-bullet{background: #7a7c7b;width:5px;height:5px;text-align:center;margin:0 5px;}
.swiper-pagination .swiper-pagination-bullet-active{background: #fff;}
/*弹框*/
.tk{display: none}
.tks{display: none}
.scTk{z-index:9;position:absolute;top:0;left:0;width:100%;height:100%; background: #000;opacity: 0.85;}
.scImg{z-index:10;position:fixed;width:15.525rem;left:0.22rem;/*top:5.0rem;*/top:3.2rem;}
.scImg span{position:absolute;right:0.8rem; top:0.425rem;display:inline-block;width:0.55rem;height:0.85rem;}
.hdImg{z-index:10;position: fixed;left:0.22rem;/*top:5.7rem;*/top:3.5rem; background: url(../images/tk02.jpg) no-repeat;background-size:100% 100%;width:15.525rem;height:18.575rem;}
.hdImg span{position:absolute;right:0.8rem; top:0.425rem;display:inline-block;width:0.55rem;height:0.85rem;}
.tkCont{margin-top:1.6rem;width:100%;margin-top:2.5rem;height:15.0rem;overflow:auto;padding:0 0.7rem; }
.tkCont h1{padding:0.8rem 0 0 0; color:#017bde;font-size: 12px}
.conts{margin-top:0.7rem; color:#999999;font-size:12px;}
.conts h2{color:#017bde;}
.conts:last-child{padding-bottom:0.75rem;}

/*dialog.css重置*/
.dialog-content .dialog-content-hd{padding:0.625rem 0 0;}
.dialog-content .dialog-content-title{font-size:0.75rem}
.dialog-content .dialog-content-bd{font-size:0.7rem;padding-top:0.5rem;}
.dialog-content .dialog-content-bd p{margin:0;}
.dialog-content .dialog-content-ft{line-height:2.0rem; font-size:0.7rem;margin-top:0.5rem;}
.dialog-content .dialog-content-ft .dialog-btn-ok{color:#1c4573;}


.swiper-containers{width:100%;height:100%;}
.swiper-containers .swiper-slide img{width:100%;}